<!-- <form [formGroup]="forgotForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" formControlName="email">
  </div>

</form> -->
<app-dynamic-form #passwordForm [fields]="forgotFields" />
<button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="passwordForm?.form?.invalid || !loadingService.loading">
  <ng-container *ngIf="loadingService.loading">
    <div class="absolute left-1/2 transform -translate-x-1/2">
      <div class="w-4 h-4 border-2 border-t-2 border-white border-solid rounded-full animate-spin"></div>
    </div>
  </ng-container>
  Enviar e-mail
</button>

<button class="btn btn-primary" routerLink="/auth">Voltar</button>
