.input-primary {
  @apply bg-white-light border border-gray-300 rounded-lg p-2 outline-none mb-2;
  &:disabled {
    @apply bg-gray-300;
  }
}

.button-primary {
  @apply
  bg-primary
  w-full
  py-3
  rounded-lg
  text-white cursor-pointer
  transition-all duration-300
  ease-in-out
  hover:bg-primary-light
  flex items-center justify-center gap-2 text-title5;

  &:disabled {
    @apply bg-gray-300 cursor-not-allowed;
  }
}

.button-canceled {
  @apply text-gray-600 bg-gray-200 rounded-lg py-3;
}

.input-error {
  @apply border border-red-500;
}

.link {
  @apply text-sm text-[#0070f3] hover:text-blue-700 transition-colors duration-200 mt-2 block;
}

.disabled {
  @apply bg-gray-300 cursor-not-allowed;
  background: #ddd !important;
  opacity: 0.7;
}
