<div
  class="bg-[#fff] shadow-lg rounded-xl overflow-hidden border border-gray-200"
  [@fade]
>
  <div
    class="bg-primary py-4 px-6 border-b border-primary-dark flex justify-between items-center"
  >
    <span class="text-title4 font-semibold text-white">
      {{ plan().name }}
    </span>
    <span class="text-title5 font-semibold text-white">
      {{ plan().price | currency: 'BRL' }}
    </span>
  </div>

  <div class="px-6 py-6 border">
    <app-dynamic-form
      #formSubcription
      [fields]="addressFields"
    ></app-dynamic-form>

    <button
      class="button-primary w-full mt-3 flex items-center justify-center py-3 rounded-lg text-white font-semibold"
      (click)="onSubmit()"
      [disabled]="loading() || formSubcription?.form?.invalid"
    >
      @if(loading()) {
      <app-loading class="mr-2"></app-loading>
      } Finalizar compra
    </button>

    <button
      class="bg-transparent text-title5 border text-primary w-full mt-3 flex items-center justify-center py-3 rounded-lg font-semibold hover:bg-none"
      routerLink="/planos"
    >
      Voltar
    </button>
  </div>
</div>
