<app-page-layout-client [isHome]="true" [showCart]="true">
  <div class="px-3">
    @if (loading()) {
    <app-skeleton-categories [showTitle]="true" customClassLi="px-10 py-4" />
    } @else {
    <div class="flex justify-between items-center mb-2">
      <span class="text-gray-500 text-xl block">Categorias</span>
      <a class="text-gray-500 py-2 text-text4" routerLink="categorias">Ver
        mais +</a>
    </div>
    <ul class="flex gap-4 overflow-auto">
      @for (category of fullMenu(); track $index) {
      <app-categories [category]="category" customClass="py-3 px-4" />
      }
    </ul>
    }
  </div>

  <div>
    @if (loading()) {
    <app-skeleton-food customClass="mt-6" [showTitle]="true" />
    } @else {

    <div class="flex justify-between items-center mt-2 px-3">
      <span class="text-gray-500 text-xl block my-2">Cardápio</span>
      <a class="text-gray-500 py-2 text-text4" routerLink="cardapio">Ver mais
        +</a>
    </div>
    @if(subcategories().length > 0) {
    <app-subcategories [subcategories]="subcategories"></app-subcategories>
    }

    <div class="px-3">
      @for (category of fullMenu(); track category.category_id) {
        <span class="text-primary font-medium text-xl block my-2">
          {{ category.category_name }}
        </span>

        @for (subcategory of category.subcategories; track subcategory.id) {
          <app-subcategory-item [subcategory]="subcategory"></app-subcategory-item>

          <ul class="flex flex-col gap-3">
            @for (food of subcategory.foods; track food.id) {
              <app-food-menu [food]="food" />
            }
          </ul>
        } @empty {
          <span>Sem itens para mostrar</span>
        }
      }

    </div>
    }
  </div>
</app-page-layout-client>
