<app-page-layout-client [title]="title()" [showFooter]="true">
  @if (loading()) {
    <app-skeleton-subcategories />
    <app-skeleton-food [showTitle]="false" />
  } @else {
    <app-subcategories [subcategories]="subcategories" />

    @if (!id && fullMenu().length > 0) {
      <div class="px-3">
        @for (category of fullMenu(); track category.category_id) {
          <span class="text-primary font-medium text-xl block mt-6 mb-2">
            {{ category.category_name }}
          </span>

          @for (subcategory of category.subcategories; track subcategory.id) {
            <app-subcategory-item [subcategory]="subcategory" />
            <ul class="flex flex-col gap-3">
              @for (food of subcategory.foods ?? []; track food.id) {
                <app-food-menu [food]="food" [showItem]="true" />
              }
            </ul>
          }
        }
      </div>
    } @else if (selectedCategory()) {
      <div class="px-3">
        @for (subcategory of selectedCategory()?.subcategories; track subcategory.id) {
          <app-subcategory-item [subcategory]="subcategory" />
          <ul class="flex flex-col gap-3">
            @for (food of subcategory.foods ?? []; track food.id) {
              <app-food-menu [food]="food" />
            }
          </ul>
        }
      </div>
    } @else {
      <span class="text-center block text-gray-500">Nenhuma categoria encontrada</span>
    }
  }
</app-page-layout-client>
