<li class="list-none">
  <div
    [routerLink]="['/app', companyName(), 'categorias', 'cardapio', category.id]"
    class=" {{
      customClass
    }} border cursor-pointer rounded-md bg-white-light shadow-sm flex flex-col items-center gap-2 hover:shadow-md hover:border-red-300 transition-all"
  >
    <i class="{{ category.icon }} text-2xl text-primary"></i>
    <span class="block text-gray-600">{{ category.name }}</span>
  </div>
</li>

@if(loading().setCategories) {
  <app-loading-screen />
}
