<app-generic-dialog
  title="Endereço de entrega"
  customClass="text-text3"
  (close)="onClose()"
>
  <div body>
    <div class="bg-white">
      <div class="p-5">
        @for (address of data; track address.id) {
        <app-card-address
          [address]="address"
          [selectedAddress]="selectedAddress"
          (select)="selectAddress($event)"
        />
        }
      </div>
    </div>
    @if(loadingSaveAddress()) {
    <app-loading-screen />
    }
  </div>
</app-generic-dialog>
