<div class="min-h-screen" [@fade]>
  <app-header-page [title]="title()" />

  <div class="h-[70%] mt-10 pb-16">
    @if(isAdmin() && !id) {
    <div
      class="flex justify-end gap-2 shadow-sm py-4 border rounded-md px-2 mb-3"
    >
      <button
        class="bg-primary px-2 py-1 rounded-md text-white flex items-center justify-center gap-2"
        (click)="openDialogFood()"
      >
        <i class="fa-solid fa-plus"></i>
        Adicinar
      </button>
      <button
        class="bg-primary px-2 py-1 rounded-md text-white flex items-center justify-center gap-2"
        (click)="openDialogFee()"
      >
        <i class="fa-solid fa-plus"></i>
        Taxa de entrega
      </button>
    </div>
    } @if(loading()) {
    <app-skeleton-subcategories />
    } @else {
    <app-subcategories [subcategories]="subcategories"></app-subcategories>
    } @if (loading()) {
    <app-skeleton-food [showTitle]="false" />
    } @else { @if (!id) {
    <div class="px-3">
      @for (category of foodsGroupedCategory() | keyvalue; track category.key) {
      <span class="text-primary font-medium text-xl block mt-6 mb-2">
        {{ category.value.name }}
      </span>
      @for (subcategory of category.value.subcategories; track $index) {
      <app-subcategory-item [subcategory]="subcategory"></app-subcategory-item>

      <ul class="flex flex-col gap-3">
        @for (food of subcategory.foods; track food.id) {
        <app-food-menu
          [food]="food"
          [showItem]="true"
          (editItem)="openDialogFood($event)"
          (deleteItem)="openDialogRemoveFood($event)"
        />
        }
      </ul>
      } }
    </div>
    } @else { @for (subcategory of foodsGroupedCategoryId().subcategories; track
    subcategory.id) {
    <div class="px-3">
      <app-subcategory-item [subcategory]="subcategory"></app-subcategory-item>

      <ul class="flex flex-col gap-3">
        @for (food of subcategory.foods; track food.id) {
        <app-food-menu [food]="food" />
        }
      </ul>
    </div>
    } } }
  </div>
</div>
