<div class="overflow-auto" [@fade]>
  <app-food-details [food]="food()" [extras]="extras()" [selectedAdditions]="selectedAdditions"
    [observations]="observations" (additionalItemAndPriceChange)="footer.updateAdditionsTotal($event)"
    (observationsChange)="footer.observations = $event" />

  <app-footer-food #footer
   [food]="food()"
   [selectedAdditions]="selectedAdditions"
   [observations]="observations"
   [productCount]="productCount"
   textButton="Atualizar"
   [isEdit]="isIdItem"
   [idItem]="idItem" />
</div>
