<div class="px-5 py-6">
  <app-dynamic-form [fields]="loginFields" buttonText="Login" (submitEvent)="login()" />

  <button class="button-primary" (click)="login()">
    <!-- [disabled]="isButtonDisabled" -->
    Login
  </button>

  @if(!isEmailConfirmed()) {
    <button [@fadeIn] class="button-primary mt-2" (click)="resendConfirmation()">
      Reenviar código de confirmação
    </button>
  }

  <a class="link" routerLink="/auth/forgot-password" [queryParams]="{ empresa: companyName() }">
    Esqueceu sua senha?
  </a>




</div>
