<div class="fixed w-full top-0 z-50 bg-primary">
  <app-cart />

  @if(authService.isAdmin() && !authService.adminMode()) {
    <div class="absolute right-2 top-2">
      <app-menu-hamburguer [menuItems]="menuItems" />
    </div>
  }

  @if(isHome) {
    <div class="text-white px-3 py-10">
      <span class="text-text3">Olá,</span>
      <h1 class="text-title3">Seja Bem-vindo</h1>
    </div>
  } @else {
    <div class="text-white px-3 py-10 flex justify-between items-center">
      <app-back-button customClass="text-text1" />
      <h1 class="text-title3">{{ title }}</h1>
    </div>
  }

  @if(showInput) {
    <div class="absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full px-3">
      <input type="text" placeholder="Qual comida você está procurando?" class="input-primary w-full" />
    </div>
  }
</div>
