<form [formGroup]="form">
  <ng-container *ngFor="let field of fields">
    <ng-container *ngIf="!field.visibleIf || field.visibleIf(form)">
      <div class="flex flex-col">
        <label
          class="text-gray-500 text-text4 mb-1 {{ field.customClass || '' }}"
          for="{{ field.name }}"
        >
          {{ field.label }}
        </label>

        <!-- INPUT PADRÃO -->
        <input
          *ngIf="
            field.type !== 'select' &&
            field.type !== 'file' &&
            field.directive !== 'onlyNumbers' &&
            field.type !== 'multiselect' &&
            field.type !== 'checkbox' &&
            field.type !== 'time-interval'
          "
          id="{{ field.name }}"
          [type]="field.type"
          [formControlName]="field.name"
          class="input-primary py-3 {{ field.customClass || '' }}"
          [ngStyle]="{ padding: field.padding }"
          [ngClass]="{
            'input-error': form.get(field.name)?.invalid && form.get(field.name)?.touched
          }"
          [mask]="field.mask || ''"
          (ngModelChange)="field.onChange && field.onChange($event, form)"
          placeholder="{{ field.placeholder || '' }}"
        />

        <!-- INPUT NUMÉRICO -->
        <input
          *ngIf="field.directive === 'onlyNumbers'"
          id="{{ field.name }}"
          [type]="field.type"
          [formControlName]="field.name"
          class="input-primary py-3"
          [ngStyle]="{ padding: field.padding }"
          [ngClass]="{
            'input-error': form.get(field.name)?.invalid && form.get(field.name)?.touched
          }"
          [mask]="field.mask || ''"
          (ngModelChange)="field.onChange && field.onChange($event, form)"
          onlyNumbers
        />

        <!-- CHECKBOX -->
        <input
          *ngIf="field.type === 'checkbox'"
          id="{{ field.name }}"
          type="checkbox"
          [formControlName]="field.name"
          class="input-primary py-3"
          (change)="field.onChange && field.onChange($event, form)"
        />

        <!-- INPUT DE ARQUIVO -->
        <div class="flex items-center flex-col" *ngIf="field.type === 'file'">
          <input
            id="{{ field.name }}"
            type="file"
            accept="image/*"
            class="hidden"
            (change)="onFileSelected($event, field)"
          />

          <label
            for="{{ field.name }}"
            class="input-primary cursor-pointer p-3 w-full flex justify-between items-center"
            [ngClass]="{ 'disabled pointer-events-none': isDisabled[field.name] }"
          >
            <span>{{ selectedFileName || 'Nenhum arquivo escolhido' }}</span>
            <span class="text-blue-500">Escolher</span>
          </label>

          <div *ngIf="imagePreviewUrl" class="image-preview">
            <img
              [src]="imagePreviewUrl"
              alt="Prévia da Imagem"
              class="w-32 h-32 object-cover rounded-lg border"
            />
          </div>
        </div>

        <!-- SELECT -->
        <div class="relative w-full">
          <select
            *ngIf="field.type === 'select'"
            id="{{ field.name }}"
            [formControlName]="field.name"
            class="input-primary py-3 w-full {{ field.customClass || '' }}"
            [ngClass]="{
              'input-error': form.get(field.name)?.invalid && form.get(field.name)?.touched,
              'disabled pointer-events-none': isDisabled[field.name]
            }"
            (ngModelChange)="field.onChange && field.onChange($event, form)"
          >
            <option value="">Selecione...</option>
            <option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>

          <app-icon-button
            *ngIf="!isEdit && field.onClick && !isDisabled[field.name]"
            icon="fas fa-plus"
            class="absolute right-7"
            (click)="field?.onClick()"
          />
          <app-icon-button
            *ngIf="isEdit && field.onEdit && form.get(field.name)?.value"
            icon="fa-solid fa-pen-to-square"
            class="absolute right-7"
            (click)="field?.onClick(form)"
          />
        </div>

        <!-- MULTISELECT -->
        <div
          *ngIf="field.type === 'multiselect'"
          [matTooltip]="isDisabled[field.name] ? field.tooltip : ''"
          class="w-full relative"
        >
          <p-multiSelect
            id="{{ field.name }}"
            [options]="field.options"
            optionLabel="label"
            optionValue="value"
            [formControlName]="field.name"
            placeholder="Selecione os itens"
            class="input-primary !bg-white py-1 px-0 outline-none focus:border border-gray-50 w-full"
            [ngClass]="{ 'disabled pointer-events-none': isDisabled[field.name] }"
          ></p-multiSelect>

          <app-icon-button
            *ngIf="!isEdit && field.onClick && !isDisabled[field.name]"
            icon="fas fa-plus"
            class="absolute right-7"
            (click)="field?.onClick()"
          />

          <app-icon-button
            *ngIf="isEdit && field.onEdit && form.get(field.name)?.value !== ''"
            icon="fa-solid fa-pen-to-square"
            class="absolute right-7"
            (click)="field?.onClick(form)"
          />
        </div>

        <!-- CUSTOM TIME INTERVAL -->
        <div *ngIf="field.type === 'time-interval'" class="mb-2">
          <div class="flex gap-2 items-center">
            <p-datePicker
              inputId="startTime"
              [timeOnly]="true"
              [showIcon]="true"
              hourFormat="24"
              (onSelect)="onTimeSelect(field.name, 'start', $event)"
              (onBlur)="form.get(field.name)?.markAsTouched()"
              (input)="onTimeInputClear($event, field.name, 'start')"
              inputStyleClass="input-primary !mb-0"
              [ngClass]="{'input-error': form.get(field.name)?.invalid && form.get(field.name)?.touched}"
            />
            <label for="endTime" class="text-gray-500 text-text4">Até:</label>
            <p-datePicker
              inputId="endTime"
              [timeOnly]="true"
              [showIcon]="true"
              hourFormat="24"
              (onSelect)="onTimeSelect(field.name, 'end', $event)"
              (onBlur)="form.get(field.name)?.markAsTouched()"
              (input)="onTimeInputClear($event, field.name, 'end')"
              inputStyleClass="input-primary !mb-0"
              [ngClass]="{'input-error': form.get(field.name)?.invalid && form.get(field.name)?.touched}"
            />
          </div>
      </div>

        <!-- MENSAGEM DE ERRO -->
        <div
          class="mt-[-10px]"
          *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched"
          [@fadeIn]
        >
          <span
            class="!font-normal text-sm text-red-600"
            *ngFor="let error of getErrorsMessages(field.name)"
          >
            {{ error }}
          </span>
        </div>
      </div>
    </ng-container>
  </ng-container>
</form>
