::ng-deep p-multiSelect .p-multiselect-dropdown {
  @apply hidden;
}

::ng-deep p-multiSelect .p-multiselect-label {
  @apply text-black !important;
}

.p-multiselect:not(.p-disabled).p-focus {
  @apply border border-gray-300;
}

::ng-deep p-multiSelect  {
  background-image: url("../../../../assets/icons/down-arrow.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 0.23rem center !important;
  background-size: 8.7px !important;
  @apply border border-gray-300 rounded-lg !important;
}

::ng-deep .p-checkbox-checked .p-checkbox-box  {
  @apply bg-primary border border-gray-300 !important;
}

::ng-deep p-datepicker input  {
  @apply bg-white border border-gray-300 text-black !important;
}

::ng-deep p-datepicker .p-datepicker-timeonly  {
  @apply bg-white border border-gray-300 text-black !important;
}

::ng-deep p-datepicker .p-datepicker-timeonly button svg {
  @apply text-black !important;
}

::ng-deep p-datepicker .p-component .p-inputwrapper {
  @apply border border-red-500 rounded-lg !important;
}

::ng-deep p-datepicker.input-error input  {
  @apply border border-transparent !important;
}

::ng-deep p-datepicker button.p-datepicker-dropdown {
  @apply bg-primary border-primary;
}

