::ng-deep p-multiSelect .p-multiselect-dropdown {
  @apply hidden;
}

::ng-deep p-multiSelect .p-multiselect-label {
  @apply text-black !important;
}

.p-multiselect:not(.p-disabled).p-focus {
  @apply border border-gray-300;
}

::ng-deep p-multiSelect  {
  background-image: url("../../../../../assets/icons/down-arrow.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 0.23rem center !important;
  background-size: 8.7px !important;
  @apply border border-gray-300 rounded-lg !important;
}

::ng-deep .p-checkbox-checked .p-checkbox-box  {
  @apply bg-primary border border-gray-300 !important;
}

