<form [formGroup]="form">
  <ng-container *ngFor="let field of fields">
    <div class="flex flex-col">
      <label class="text-gray-500 text-text4 mb-1" for="{{ field.name }}">
        {{ field.label }}
      </label>
      <input
        *ngIf="field.type !== 'select' && field.type !== 'file' && field.type !== 'multiselect' && field.type !== 'checkbox'"
        id="{{ field.name }}" [type]="field.type" [formControlName]="field.name"
        class="input-primary py-3"
        [ngStyle]="{ 'padding': field.padding }"
        [ngClass]="{ 'input-error': form.get(field.name)?.invalid && form.get(field.name)?.touched }"
        [mask]="field.mask || ''"
        (ngModelChange)="field.onChange && field.onChange($event, form)"
        />

        <!-- Input para checkbox -->
        <input *ngIf="field.type === 'checkbox'"
          id="{{ field.name }}"
          type="checkbox"
          [formControlName]="field.name"
          class="input-primary py-3"
          (change)="field.onChange && field.onChange($event, form)"
        />

        <input *ngIf="field.type === 'file'"
              id="{{ field.name }}"
              type="file"
              accept="image/*"
              class="input-primary py-3 cursor-pointer"
              (change)="onFileSelected($event, field)"
        />

      <select *ngIf="field.type === 'select'" id="{{ field.name }}" [formControlName]="field.name"
        class="input-primary py-3" [ngClass]="{
          'input-error':
            form.get(field.name)?.invalid && form.get(field.name)?.touched
        }" (ngModelChange)="field.onChange && field.onChange($event, form)">
        <option value="">Selecione...</option>
        <option *ngFor="let option of field.options" [value]="option.value">
          {{ option.label }}
        </option>
      </select>

      <p-multiSelect *ngIf="field.type === 'multiselect'"
        id="{{ field.name }}"
        [options]="field.options"
        optionLabel="label"
        optionValue="value"
        [formControlName]="field.name"
        placeholder="Selecione os itens"
        class="input-primary py-1"
      ></p-multiSelect>
    </div>

    <div class="mt-[-10px]" *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched" [@fadeIn]>
      <span class="!font-normal text-sm text-red-600" *ngFor="let error of getErrorsMessages(field.name)">
        {{ error }}
      </span>
    </div>
  </ng-container>
</form>
