<app-generic-dialog
  [title]="data.foodId ? 'Editar Item' : 'Adicionar Item'"
  (close)="onClose()"
>
  <ng-container body>
    <div class="bg-[#fff]">
      <div class="bg-[#fff]">
        <app-dynamic-form #formMenu [fields]="foodFields" [isEdit]="data.foodId ? true : false"></app-dynamic-form>
      </div>

      <div class="flex gap-2 mt-3">
        <app-button
          [label]="'Cancelar'"
          class="w-1/2"
          [isLoading]="this.loadingService.loading()"
          [isCanceled]="true"
          (click)="onCancel()"
        ></app-button>
        <app-button
          [label]="'Salvar'"
          class="w-1/2"
          (click)="onSave()"
          [isLoading]="this.loadingService.loading()"
          [disabled]="formMenu.form.invalid || this.loadingService.loading()"
        ></app-button>
      </div>
    </div>
  </ng-container>
</app-generic-dialog>

@if(loading().categories || loading().default) {
<app-loading-screen />
}
