<!-- Menu hamburguer: só aparece em telas pequenas -->
<button
  class="border border-primary-rose-soft text-primary-rose-soft px-4 py-2 rounded-lg hover:bg-primary hover:text-white transition md:hidden"
  (click)="openMenu()">
  <i class="fas fa-bars text-sm"></i>
</button>

<app-menu-mobile
  [menuItems]="menuItems"
  [open]="menuOpen()"
  (close)="menuOpen.set(false)"
></app-menu-mobile>

<aside
  class="hidden md:flex flex-col fixed top-0 left-0 h-full z-50 border-r-2 mt-[73.3px] bg-white transition-all duration-300"
  [ngClass]="{ 'w-72': !this.sideMenuService.collapsed(), 'w-14': this.sideMenuService.collapsed() }"
>
  <!-- Botão para expandir/retrair o aside -->
  <button
    class="absolute top-4 w-8 right-[-20px] bg-primary text-white rounded-md shadow p-1 border border-primary transition hover:bg-primary-dark z-50"
    (click)="toggleCollapsed()"

    [attr.aria-label]="this.sideMenuService.collapsed() ? 'Expandir menu' : 'Reduzir menu'"
    type="button"
  >
    <i class="fas" [ngClass]="this.sideMenuService.collapsed() ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
  </button>
  <app-menu-list [menuItems]="menuItems" ></app-menu-list>
</aside>
