<app-page-layout-admin>
  <div class="flex items-center justify-between">
    <h1 class="text-xl font-bold text-primary">Produtos</h1>
    <button
      class="bg-primary text-white px-4 py-2 rounded-md flex items-center gap-2 shadow hover:bg-primary-dark transition"
      (click)="openCategoryDialog()"
    >
      <i class="fas fa-plus"></i>
      <span class="font-medium">Novo</span>
    </button>
  </div>

  <div class="flex items-center gap-2 my-4">
    <app-search-input class="w-full" customClass="!m-0" />
  </div>

  <div class="flex flex-col gap-4">
    <div class="space-y-6">
      @for (category of categories(); track category.id) {
        <div class="border p-4 rounded mb-4 bg-white">
          <div class="text-lg font-bold mb-2 text-primary">
            {{ category.name }}
          </div>

          @for (sub of subcategories() | filterByField: 'category_id' : category.id; track sub.id) {
            <div class="ml-4 mb-4 border-l-2 pl-4 border-primary/40">
              <div class="flex justify-between items-center cursor-pointer" (click)="toggleSubcategory(sub.id)">
                <div class="text-md font-semibold text-primary">
                  └─ {{ sub.name }}
                </div>
                <i
                  class="fa-solid fa-chevron-down text-primary text-sm transition-transform duration-300"
                  [ngClass]="{ 'rotate-180': expandedSubcategories()[sub.id] }"
                ></i>
              </div>

              <div class="flex items-center justify-between w-full mt-2">
                <div class="flex gap-2 items-end">
                  <button class="bg-primary h-9 text-white px-3 rounded-md flex items-center gap-2 shadow hover:bg-primary-dark transition" (click)="openProductDialog(sub.id)">
                    Novo produto
                  </button>
                  <app-icon-button icon="fa-solid fa-edit" customClass="h-9 w-9 text-md !m-0" (onClick)="openCategoryDialog(category, sub)"  />
                  <app-icon-button icon="fa-solid fa-copy" customClass="h-9 w-9 text-md !m-0" (onClick)="openDialogDuplicateCategoryAndSubcategory(category, sub)" />
                  <app-icon-button icon="fa-solid fa-trash" customClass="h-9 w-9 text-md !m-0" />
                </div>

                <div class="text-black border-primary border py-1 px-2 rounded-md">
                  <span>items: {{ (foodsBySubcategory()[sub.id] || []).length }}</span>
                </div>
              </div>

              <div
                class="overflow-hidden transition-all duration-300 ease-in-out"
                [ngClass]="{
                  'max-h-0 opacity-0': !expandedSubcategories()[sub.id],
                  'max-h-[500px] opacity-100': expandedSubcategories()[sub.id]
                }"
              >
                <div class="flex flex-col items-center gap-2 my-4">
                  @if((foodsBySubcategory()[sub.id] || []).length > 0 ) {
                    <app-search-input
                      class="w-full"
                      customClass="!m-0"
                      (searchChange)="onSubcategorySearchChange(sub.id, $event)"
                    />
                  }
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-2 text-black">
                  @if(loadingFoodsBySubcategory()[sub.id]) {
                    <div class="flex justify-center mt-4 col-span-full">
                      <app-loading size="w-10 h-10" />
                    </div>
                  }
                  @else {
                    @for (food of (foodsBySubcategory()[sub.id]); track food.id) {
                      <div
                        class="bg-gray-50 p-3 rounded shadow border border-primary/10 cursor-pointer flex justify-between"
                        (click)="openProductDialog(food)"
                      >
                        <div class="flex items-center gap-3">
                          <img [src]="food.image_url" class="w-16 h-16 object-cover rounded" />
                          <div>
                            <div class="font-medium truncate">{{ food.name }}</div>
                            <div class="text-xs text-gray-500 max-w-52">{{ food.description }}</div>
                            <div class="text-xs text-primary font-medium">R$ {{ food.price }}</div>
                          </div>
                        </div>
                        <div class="flex items-end gap-2 ml-2 z-30">
                          <app-icon-button icon="fa-solid fa-pen-to-square" (click)="openProductDialog(food); $event.stopPropagation()" />
                          <app-icon-button icon="fa-solid fa-copy" />
                          <app-icon-button icon="fa-solid fa-list-check" tooltip="Opcionais" />
                          <app-icon-button icon="fa-solid fa-trash" />
                        </div>
                      </div>

                    }
                    @empty {
                      <div class="text-gray-400 italic col-span-full">Nenhum produto nessa subcategoria</div>
                    }
                  }
                </div>
              </div>
            </div>
          }
        </div>
      }

      @empty {
        <div class="text-center text-gray-400 mt-10">Nenhum produto encontrado.</div>
      }


      @if(loading()) {
        <div class="flex justify-center mt-4">
          <app-loading size="w-10 h-10" />
        </div>
      }
    </div>
  </div>
</app-page-layout-admin>
